[alias]
  poh = push origin HEAD
  ci = commit
  co = checkout
  coB = checkout -b
  cp = cherry-pick
  st = status
  dt = difftool
  diffs = diff --staged
  slist = stash list
  sci = stash push -m
  sai = stash apply --index
  logg = log --all --decorate --oneline --graph
  logo = log --oneline
  addA = !git add -A && git diffs
  uncommit = reset HEAD^
  park =  !git add -A && git commit -m 'TEMP COMMIT PARKED' && touch PARKED && git logo
  unpark = !rm PARKED && git uncommit && git logo
[core]
  excludesfile = ~/.gitignore
[pull]
  ff = only
[include]
  path = ~/.gitconfig.local